header {
	width: 400px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: linear-gradient(-45deg, #ECE8DD, #579BB1);
	h1{
		font: bold 40px/1 "orbitron";
		color: #fff;
		letter-spacing: 1px;
		position: absolute;
		left: 20px;
		top: 40px;
		&::before {
			content: "UI/UX DEVELOPMENT";
			font: 14px/1 "obitron";
			color: #fff;
			position: absolute;
			left: 0px;
			top: 50px;
		}
	}
	ul{
		position: absolute;
		left: 20px;
		bottom: 40px;
		display: flex;
		li{
			& ~ li{
				margin-left: 20px;
			}
			a{
				display: flex;
				align-items: center;
				color: #fff;
				span.material-symbols-outlined{
					font-size: 20px;
					color: #fff;
					margin-right: 5px;
				}
			}
		}
	}
}

@media screen and (max-width: $web) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
        h1 {
            position: relative;
            top:20px;
            font: bold 24px/1 "orbitron";
            &::before{
                top: 30px;
            }
        }
        ul{
            left: initial;
            right: 20px;
            top: 30px;
        }
    }
}

@media screen and (max-width: $mobile) {
	header {
		h1{
			font-size: 20px;
			top: 30px;
			&::before {
				display: none;
			}
		}
		ul{
			li{
				a{
					font-size: 15px;
					span.material-symbols-outlined{
						font-size: 14px;
					}
				}
			}
			
		}
	}
}